{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
  <div>
    <v-app mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="mt-15">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
          <v-row>
            <v-col cols="12" xs="12" sm="12" md="4" xl="3">
              <div class="pt-3 text-h7 font-weight-bold">作业列表
                <!-- 帮助页按钮 -->
                <v-icon
                  @click="isHelpPageDrawerShown = true" color="success"
                  small>mdi-help-circle-outline
                </v-icon>
              </div>
              <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
            </v-col>
            <!--pc端的搜索条件表单 >>>>>>>> -->
            <v-col cols="12" xs="12" sm="12" md="8" xl="9">
              <v-row class="jh-backend-form-container justify-end ma-0 py-4 pt-xs-0">
                <v-btn
                  small :outlined="currentSceneId !== scene.id" v-for="(scene, index) in sceneList"
                  :key="index" :dark="currentSceneId === scene.id"
                  @click="doUiAction('useScene', scene)" color="grey darken-1" class="mb-2 ml-1">
                  {{ scene.name }}
                </v-btn>
              </v-row>
            </v-col>
            <!-- <<<<<<<< pc端的搜索条件表单 -->
          </v-row>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <div class="jh-page-body-container px-8">
          <!-- 页面内容 >>>>>>>>>>>>> -->
          <v-card class="rounded-lg">
            <v-row class="ma-0 py-0 px-4">
              <!--新增按钮-->
              <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0">
              </v-col>
              <v-spacer></v-spacer>
              <!--搜索-->
              <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="px-0">
                <v-text-field v-model="searchInput" color="success" prefix="搜索：" class="jh-v-input" dense filled
                  single-line></v-text-field>
              </v-col>
            </v-row>
            <!--表格-->
            <v-data-table
              :headers="headers"
              :items="tableData"
              :search="searchInput"
              :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
              :items-per-page="-1"
              mobile-breakpoint="0"
              :loading="isTableLoading"
              :class="{'zebraLine': isTableZebraLineShown }"
              checkbox-color="success"
              fixed-header
              class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
              <!--表格行操作按钮-->
              <template v-slot:item.action="{ item }">
                <span role="button" class="success--text jh-font-size-3 pr-2"
                  @click="doUiAction('jumpToReviewPage', item)">
                  <v-icon size="14" class="success--text">mdi-note-edit-outline</v-icon>批改
                </span>
              </template>
              <!--表格底部右侧功能按钮-->
              <template v-slot:footer.prepend>
                <v-btn icon @click="doUiAction('openTableZebraLineMenu', $event)">
                  <v-icon>mdi-menu</v-icon>
                </v-btn>
                <v-menu top offset-y :close-on-content-click="false" v-model="isTableZebraLineMenuShown" :position-x="tableZebraLineMenuPosition.x" :position-y="tableZebraLineMenuPosition.y">
                  <v-list>
                    <v-list-item>
                      <v-switch v-model="isTableZebraLineShown" hide-details class="ma-0" label="显示斑马纹" dense flat></v-switch>
                    </v-list-item>
                  </v-list>
                </v-menu>
              </template>
              <!--表格底部右侧分页-->
              <template v-slot:footer.page-text="pagination">
                <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                <span class="ml-1">共{{pagination.itemsLength}}条</span>
              </template>
            </v-data-table>
          </v-card>
          <!-- <<<<<<<<<<<<< 页面内容 -->
          <!--抽屉遮罩层-->
          <v-overlay app :value="isHelpPageDrawerShown"></v-overlay>
          
          <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
          <v-navigation-drawer v-model="isHelpPageDrawerShown" fixed temporary right width="80%" hide-overlay
          class="elevation-24">
          <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#README.md`" width="100%"
            height="100%"></iframe>

          <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
            @click="isHelpPageDrawerShown = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
        </div>
      </v-main>
    </v-app>

    <jh-toast />
    <jh-mask />
    <jh-confirm-dialog />

  </div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->

<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vueComponent: 'page',
    vuetify: new Vuetify(),
    data: {
      // 面包屑
      breadcrumbs: [
        {
          text: '首页',
          disabled: true,
        },
        {
          text: '作业管理',
          disabled: true,
        }
      ],
      constantCollection: {
        assignmentStatus: {
          save: '已保存',
          submit: '已提交',
          new: '新作业',
        },
        assignmentReviewStatus: {
          publish: '已批改',
        },
      },
      isHelpPageDrawerShown: false,

      sceneList: [
        { "form": {}, "name": "全部", "id": "scene-fixed-all" },
        { "form": { "assignmentSubmitStatus": "submit" }, "name": "已提交", "id": "scene-fixed-1" },
        { "form": { "assignmentReviewStatus": "publish" }, "name": "已批改", "id": "scene-fixed-2" },
      ],
      currentSceneId: 'scene-fixed-all',

      // 表格相关数据
      isTableZebraLineMenuShown: false,
      tableZebraLineMenuPosition: { x: null, y: null },
      isTableZebraLineShown: true,
      validationRules: {
        requireRules: [
          v => !!v || 'This is required',
        ],
      },
      searchInput: null,
      isTableLoading: true,
      tableData: [],
      headers: [
        { text: '操作', value: 'action', align: 'center', sortable: false, width: 120, class: 'fixed', cellClass: 'fixed' },
        { text: "作业ID", value: "assignmentId", width: 60 },
        { text: "文章标题", value: "articleTitle", width: 300 },

        { text: "作业提交状态", value: "assignmentSubmitStatus", width: 60 },
        { text: "作业提交时间", value: "assignmentSubmitAt", width: 100 },
        { text: "批改状态", value: "assignmentReviewStatus", width: 100 },
        { text: "批改时间", value: "assignmentReviewAt", width: 100 },
      ],
    },
    mounted() {
      this.doUiAction('getTableData');
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'useScene':
            await this.useScene(uiActionData);
            await this.getTableData();
            break;
          case 'getTableData':
            await this.getTableData();
            break;
          case 'openTableZebraLineMenu':
            await this.openTableZebraLineMenu(uiActionData);
            break;
          case 'jumpToReviewPage':
            await this.jumpToReviewPage(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      async getTableData() {
        this.isTableLoading = true;
        const backendSearchData = _.pickBy(this.serverSearchInput, (fieldValue, fieldKey) => {
          if (fieldValue !== null && fieldValue !== '') {
            return true;
          }
        });

        const rows = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'assignmentManagement',
              actionId: 'selectItemList',
              actionData: {},
              where: backendSearchData,
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        })).data.appData.resultData.rows;
        rows.forEach(assignment => {
          assignment.assignmentSubmitAt = assignment.assignmentSubmitAt ? dayjs(assignment.assignmentSubmitAt).format('YYYY-MM-DD HH:mm:ss') : '';
          assignment.assignmentReviewAt = assignment.assignmentReviewAt ? dayjs(assignment.assignmentReviewAt).format('YYYY-MM-DD HH:mm:ss') : '';
          assignment.assignmentScore = assignment.assignmentReviewStatus === 'publish' ? assignment.assignmentScore : '';
          // 作业提交和批改状态
          assignment.assignmentSubmitStatus = this.constantCollection.assignmentStatus[assignment.assignmentSubmitStatus]
          assignment.assignmentReviewStatus = this.constantCollection.assignmentReviewStatus[assignment.assignmentReviewStatus]
        })
        this.tableData = rows;
        this.isTableLoading = false;
      },
      // ---------- 场景 uiAction >>>>>>>>>> --------
      useScene(funObj) {
        this.currentSceneId = funObj.id;
        this.serverSearchInput = _.cloneDeep(funObj.form);
      },
      // ---------- <<<<<<<<<<< 场景 uiAction --------

      // ---------- 斑马纹开关 uiAction >>>>>>>>>> --------
      async openTableZebraLineMenu(funObj) {
        this.tableZebraLineMenuPosition.x = funObj.x - funObj.offsetX + 10;
        this.tableZebraLineMenuPosition.y = window.innerHeight - 50;
        this.isTableZebraLineMenuShown = !this.isTableZebraLineMenuShown;
      },
      // ---------- <<<<<<<<<< 斑马纹开关 uiAction --------
      // ---------- 跳转作业批改 uiAction >>>>>>>>>> --------
      async jumpToReviewPage({ assignmentId }) {
        window.location.href = `/<$ ctx.app.config.appId $>/page/assignmentReview?assignmentId=${assignmentId}`;
      },
      // ---------- <<<<<<<<<<< 跳转作业批改 uiAction --------
    }
  })
</script>

<style scoped>
</style>
{% endblock %}